doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      title Cover

  body(data-appId=`${gameInfo.steam_appid}`)
    // CONTENT
    .overlay
     img(class='overlay' src=`http://localhost:3000/img/gamePaper.png`)

    //- .back(style=`background-image:url(http://localhost:3000/img/bg.jpg)`)
    .back(style=`background-image:url(${gameInfo.background})`)
      .back__imgs
        img(class='back__ssBig' src=`${gameInfo.screenshots[0].path_full}`)
        img(class='back__ssSmall' src=`${gameInfo.screenshots[1].path_full}`)
        img(class='back__ssSmall' src=`${gameInfo.screenshots[2].path_full}`)
        img(class='back__ssSmall' src=`${gameInfo.screenshots[3].path_full}`)
      // short description
      .back__shortDesc
        p= gameInfo.short_description
      // system requirements
      .back__systemReq
        p(class='back__systemReq--min')
        p(class='back__systemReq--max')         

    .backSide
      h1= gameInfo.name
      img(class='backSide__bg' src=`https://steamcdn-a.akamaihd.net/steam/apps/${gameInfo.steam_appid}/library_600x900.jpg`)
      //- img(class='backSide__bg' src=`http://localhost:3000/img/cover.jpg`)

    .front
      //- img(class='front__screenshot' src=`http://localhost:3000/img/cover.jpg`)
      img(class='front__screenshot' src=`https://steamcdn-a.akamaihd.net/steam/apps/${gameInfo.steam_appid}/library_600x900.jpg`)


    
    
    script(src='/js/back.js')